@import "./tailwind.css";
@import "tw-animate-css";

@import "./variables/semantic.light.css";
@import "./variables/semantic.dark.css";
@import "./template.css";

:root {
    --shadow-color: rgba(31, 35, 41, 0.10);
    /* new shadow */
    --custom-shadow-sm: 0px 4px 20px 0px var(--shadow-color);
        --custom-shadow-md: 0px 4px 32px 0px var(--shadow-color);
}

:root[data-dark-mode=true] {
    --shadow-color: rgba(0, 0, 0, 0.10);
    /* new shadow */
    --custom-shadow-sm: 0px 2px 16px 0px var(--shadow-color);
    --custom-shadow-md: 0px 4px 32px 0px var(--shadow-color);
}

@layer base {
    @keyframes progress-container {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .animate-progress-container {
        animation: progress-container 1s linear infinite;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px) scale(1);
        opacity: 0.2;
    }

    50% {
        transform: translateY(-15px) scale(1.1);
        opacity: 0.4;
    }
}