.table-block {
  ::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
  }

  [id^=table-] {
    width: fit-content;
    @apply border-t border-l border-border-primary;
  }

  .table-cell {
    @apply border-b border-r border-border-primary;
  }
}